@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.section {
  @include pad-sides;
  @include component-margin;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @include subheader;

    &Text {
      font-size: inherit;
    }

    &Divider {
      @include divider;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &Item {
    display: flex;
    gap: 0.8rem;

    &__step {
      flex: 5%;
      width: 2rem;
      text-align: center;
      color: $text-accent;
      align-self: flex-start;
      font-size: 2.4rem;
    }
    &__method {
      flex: 85%;
      padding-top: 0.5rem;
      align-self: flex-end;
      @include method;
    }
  }
}
