@use "./variables" as *;

//*** MEDIA QUERIES

// TABLET BREAKPOINT
@mixin tablet-media-break {
  @media screen and (min-width: $brkpt-tablet) {
    @content;
  }
}

// DESKTOP BREAKPOINT
@mixin desktop-media-break {
  @media screen and (min-width: $brkpt-desktop) {
    @content;
  }
}

@mixin page-min-height {
  min-height: calc(100vh - (9rem + 6.3rem));
}

//*** TYPOGRAPHY

@mixin page-header {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: $pad-3;
  margin-bottom: $pad-2;
  @include tablet-media-break {
  }
  @content;
}

@mixin logo-copy {
  font-size: 2.4rem;
  line-height: 3rem;
  @include tablet-media-break {
  }
  @content;
}

@mixin subheader {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: $grey;
  font-weight: 600;
  @include tablet-media-break {
  }
  @content;
}

@mixin nav-links {
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include tablet-media-break {
  }
  @content;
}

// breadcrumbs and footer links
@mixin breadcrumbs {
  font-size: 1.1rem;
  line-height: 1.4rem;
  @include tablet-media-break {
  }
  @content;
}

@mixin method {
  font-size: 1.2rem;
  line-height: 1.8rem;
  @include tablet-media-break {
  }
  @content;
}

@mixin ingredients {
  font-size: 1.2rem;
  line-height: 1.6rem;
  @include tablet-media-break {
  }
  @content;
}

// spacing

@mixin nav-pad {
  padding: 1.8rem 1.6rem 1.4rem;
}

@mixin subheading-bottom {
  margin-bottom: 0.6rem;
}

@mixin subheader-margin {
  padding-top: $pad-3;
  padding-bottom: 1.2rem;
}

@mixin component-margin {
  margin-bottom: 1.8rem;
}

@mixin component-bottom {
  margin-bottom: 1.8rem;
}

@mixin pad-sides {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

// dimensions
@mixin nav {
  height: 6rem;
}

@mixin footer {
  height: 5.6rem;
}

@mixin ingredient-card {
  margin: 0 calc(7rem - $gutter-mobile);
}

// divider
@mixin divider {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.1rem solid $accent-bright;
}

//--- borders
@mixin border-radius {
  border-radius: 0.4rem;
}

@mixin borders {
  border: solid 0.2rem $accent-bright;
}

// nav
@mixin nav-borders {
  border-top: solid 0.2rem $accent-bright;
  border-bottom: solid 0.2rem $accent-bright;
}

//--- box shadow
@mixin box-shadow {
  box-shadow: 0 0.4rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}
@mixin box-shadow-hover {
  box-shadow: 0 0.4rem 1rem 0rem rgba(0, 0, 0, 0.3);
}
@mixin box-shadow-active {
  box-shadow: none;
}

@mixin box-shadow-transition {
  transition: all 0.3s;

  &:hover {
    @include box-shadow-hover;
    transform: translateY(-0.1rem);
  }

  &:active {
    @include box-shadow-active;
    transform: none;
  }
}
