@use "./variables" as *;
@use "./mixins" as *;

//* RESETS *//
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  color: $primary-dark;
  background-color: $primary-light;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
li {
  display: inline-block;
  list-style: none;
}
