@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.ic {
  &-section {
    @include component-margin;
  }

  &-card {
    @include ingredient-card;
    padding: 0.8rem;
    background-color: $accent-light;
    border: solid 0.2rem $accent-bright;
    @include border-radius;
    @include box-shadow;

    &__header {
    }

    &__header-text {
      @include subheader;
      @include subheading;
    }
  }

  &-ingredient-list {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;

    &__item {
      // display: grid;
      // grid-template-columns: 0.1fr 0.4fr 1fr;
      // gap: 0.8rem;
      padding-left: 2.4rem;
      display: flex;
      gap: 0.8rem;
    }

    &__detail {
      @include ingredients;

      &--quantity {
        text-align: right;
      }
    }
  }
}
