@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.section {
  @include component-margin;
}

.card {
  padding: 0.8rem;
  background-color: $accent-light;
  border: solid 0.2rem $accent-bright;
  @include border-radius;
  @include box-shadow;

  @include tablet-media-break {
    margin: 0;
    max-width: 30rem;
  }

  &__header {
  }

  &__headerText {
    @include subheader;
    @include subheading-bottom;
  }
}

.ingredientList {
  @include ingredients;
  max-width: 100%;

  &__item {
    padding-left: 1.6rem;

    @include tablet-media-break {
      width: 25rem;
    }
  }

  &__quantity,
  &__unit,
  &__ingredient {
    padding: 0.4rem 0.8rem;
  }

  &__quantity {
    text-align: right;
  }

  &__unit {
    text-align: left;
  }

  &__ingredient {
    text-align: left;
  }
}
