@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.rpMain {
  min-height: calc(100vh - (9rem + 6.3rem));

  &__imgContainer {
    @include pad-sides;
    max-width: 76.8rem;
    margin: 0 auto;
    @include component-margin;
  }

  &__imgImg {
    @include border-radius;
    @include box-shadow;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet-media-break {
    @include pad-sides;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 30rem;
  }
}

.sticky {
  @include tablet-media-break {
    width: 30rem;
    position: fixed;
    left: 1.6rem;
  }
}
