@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__content {
    @include pad-sides;
    @include border-radius;
    width: 90%;
    max-width: 50rem;
    background-color: $primary-light;
  }

  &__header {
  }

  &__title {
    @include subheader;
    text-align: center;
    padding: 1.6rem 0.4rem 0.8rem;
    @include borders--bottom;
    margin-bottom: 1.6rem;
  }

  &__body {
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  &__inputWrap {
    display: flex;
    flex-direction: column;
  }

  &__inputLabel {
    @include subheader;
    color: $primary-dark;
    text-align: center;
    margin-bottom: 0.4rem;
  }

  &__textInput {
    text-align: center;

    @include border-radius;
    padding: 0.8rem;
  }

  &__button {
    background-color: $primary-dark;
    color: $primary-light;
    padding: 0.8rem 1.6rem;
    @include border-radius;

    &Submit {
      margin-bottom: 1.6rem;
    }
  }

  &__divider {
    @include divider;
    border-width: 0.2rem;
    margin-bottom: 0.8rem;
  }

  &__userItem {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    @include borders--bottom;
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
  }

  &__userOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
    width: 2.4rem;
  }
}
