@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-overlay;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    @include pad-sides;
    width: 90%;
    background-color: $primary-light;
  }

  &__header {
  }

  &__title {
    @include subheader;
    text-align: center;
    padding: 1.6rem 0.4rem 0.8rem;
    @include borders--bottom;
    margin-bottom: 1.6rem;
  }

  &__body {
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  &__inputWrap {
    display: flex;
    flex-direction: column;
  }

  &__inputLabel {
    @include subheader;
    color: $text-accent;
    text-align: center;
    margin-bottom: 0.4rem;
  }

  &__textInput {
    text-align: center;

    @include border-radius;
    padding: 0.8rem;
  }

  &__button {
    background-color: $primary-dark;
    color: $primary-light;
    padding: 0.8rem 1.6rem;
    @include border-radius;
  }

  &__divider {
    @include divider;
    border-width: 0.2rem;
    margin-bottom: 1.6rem;
  }
}
