@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
  width: 100%;
  @include component-margin;

  &__form {
    width: 100%;
  }

  &__label {
    content: "Search Bar";
    visibility: hidden;
  }

  &__field,
  input {
    width: 100%;
    @include borders;
    border-width: 0.4rem;
    @include border-radius;
    text-align: center;
    font: inherit;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: $primary-dark;
    @include box-shadow;

    &::placeholder {
      color: $grey;
    }
  }
}
