@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nb {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include nav-pad;
    background-color: $primary-dark;
    color: $primary-light;
    @include nav-borders;
  }

  &-logo {
    &__wrapper {
    }
    &__text {
      font-size: 2.4rem;
    }
  }

  &-searchbar {
  }

  &-nav {
    display: flex;
    gap: 1.8rem;

    &__item {
    }
    &__link {
    }
  }
}
