@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.f {
  &-footer {
    display: flex;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-light;
    @include nav-pad;
  }

  &-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-logo {
    &__wrapper {
    }

    &__text {
    }
  }

  &-copyright {
    &__text {
      font-size: 1.1rem;
    }

    &__span {
      font-size: 1.3rem;
      vertical-align: middle;
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;

    &__item {
      text-align: right;
    }

    &__link {
      font-size: 1.3rem;
    }
  }
}
