@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  @include nav-pad;
  background-color: $primary-dark;
  color: $primary-light;
  @include nav-borders;
}

.container {
  margin: 0 auto;
  @include page-max-width;
  display: flex;
  justify-content: space-between;
  background-color: $primary-dark;
  color: $primary-light;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyright {
  &__text {
    font-size: 1.1rem;
  }

  &__span {
    font-size: 1.3rem;
    vertical-align: middle;
  }
}

.nav {
  display: flex;
  flex-direction: column;

  &__item {
    text-align: right;
  }

  &__link {
    font-size: 1.3rem;
  }
}
