@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;

  &__name {
    @include page-header;
  }

  &__edit {
    display: flex;
    align-items: center;

    &Icon {
      cursor: pointer;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
