@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bh {
  &-header {
    display: flex;
    flex-direction: column-reverse;
    @include pad-sides;

    // &__title {
    // }

    &__name {
      @include page-header;
    }
  }

  &-crumb {
    &__wrapper {
      margin-top: 1.2rem;
    }

    &__list {
      display: flex;
      gap: 0.8rem;
      justify-content: flex-end;
      color: $grey;
      @include breadcrumbs;
    }

    // &__item {
    // }

    &__link {
      color: inherit;
    }
  }
}
